/*--------------------------------------------------------------
# Site - Layout Widgets
--------------------------------------------------------------*/
@import "widgets";

/*--------------------------------------------------------------
# Site - Layout Default
--------------------------------------------------------------*/
.screen-reader-text {
    display: none;
}
.article-container {
    padding: 30px;
    margin-bottom: 30px;
}